[submodule "MX_V2"]
	path = MX_V2
	url = git@github.com:ai03-2725/MX_V2.git
[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = git@github.com:ai03-2725/Type-C.pretty.git
[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = git@github.com:ai03-2725/random-keyboard-parts.pretty.git
[submodule "key-switches.pretty"]
	path = key-switches.pretty
	url = git@github.com:siderakb/key-switches.pretty.git
